/* === DEFAULT CONTROLS === */

button {
    min-height: 1rem;
    line-height: 1rem;
    border: none;
    background-color: #5a5a5a;
    outline: none;
    box-shadow: 0 0.2rem 0.5rem #0000005e;
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 0.2rem;
    margin: 0.2rem;
    transition: box-shadow 0.3s;
    font-size: 0.8rem;
}

button:hover {
    background-color: #7c7c7c;
}

button:active {
    box-shadow: none;
    border: 0.2rem #a1a8b6 solid;
    margin: 0;
}

button.default {
    background-color: #0a3a94;
}

button.default:hover {
    background-color: #19469b;
}

button.default:active {
    border: 0.2rem #5c8eec solid;
}

button.accept {
    background-color: #0a9443;
}

button.accept:hover {
    background-color: #18a352;
}

button.accept:active {
    border: 0.2rem #2bb95a solid;
}

button.cancel {
    background-color: #cc2d2d;
}

button.cancel:hover {
    background-color: #da4141;
}

button.cancel:active {
    border: 0.2rem #eb8072 solid;
}

input, select {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border: 0.05rem solid #00000042;
    border-radius: 0.2rem;
    margin: 0.2rem;
    height: 2rem;
    background: white;
}

input:disabled, select:disabled {
    background: #f5f5f5;
    color: #919191;
}
